In [1]:
import pymongo

In [2]:
dbConn=pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
dbConn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
db=dbConn['mlds']

In [6]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mlds')

In [12]:
print(dbConn.list_database_names())

['RAHUL', 'admin', 'config', 'local', 'mlds', 'newDB', 'pune', 'saturday', 'test', 'wednesdayDB', 'yogeshDB']

In [16]:
dblist.index('mlds')

4

In [17]:
dblist=dbConn.list_database_names() # obtaining all the database names
db_name='saturday'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

This Databse exists

In [18]:
collection_name='players'
collection=db[collection_name]

In [19]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mlds'), 'players')

In [20]:
db.list_collection_names()

['movie', 'players']

In [21]:
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection exists.

In [22]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [23]:
my_row

{'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [24]:
type(my_row)

dict

In [25]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mlds'), 'players')

In [27]:
v=collection.insert_one(my_row)

DuplicateKeyError: E11000 duplicate key error collection: mlds.players index: _id_ dup key: { _id: ObjectId('61d9a9c91d4b8d80cb78f5da') }

In [28]:
v

ObjectId('61d9a9c91d4b8d80cb78f5da')

In [29]:
type(v)

bson.objectid.ObjectId

In [33]:
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [34]:
my_rows

[{'Serial No': '9997',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.65',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9996',
  'GRE Score': '336',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.6',
  'Research': '0',
  'Chance of Admit': '0.92'},
 {'Serial No': '9995',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.5',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9994',
  'GRE Score': '334',
  'TOEFL Score': '119',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.4',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9993',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.65',
  'Research': '1',
  'Chance of Admit': '0.92'}]

In [35]:
v=collection.insert_many(my_rows)

In [40]:
records=collection.find({})

In [39]:
type(records)

pymongo.cursor.Cursor

In [38]:
records[3]

{'_id': ObjectId('61d9ab001d4b8d80cb78f5db'),
 'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [41]:
records

In [42]:
result= collection.find({})

In [43]:
result

In [44]:
result_total= collection.find({}).limit(5)

In [45]:
result_total

In [46]:
for res in result_total:
    print(res)

{'_id': ObjectId('61d709d4d2283330c7679066'), 'name': 'Saurav', 'runs': 50000.0, 'place': 'Mumbai', 'teams': ['IND', 'MI', 'YK']}
{'_id': ObjectId('61d70bd4d2283330c7679067'), 'name': 'rahul', 'runs': 60000.0, 'place': 'Banglore', 'teams': ['IND', 'YK']}
{'_id': ObjectId('61d9a9c91d4b8d80cb78f5da'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5db'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dc'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}

In [47]:
result_some= collection.find({}, {'GRE Score','TOEFL Score'})

In [48]:
for res in result_some:
    print(res)

{'_id': ObjectId('61d709d4d2283330c7679066')}
{'_id': ObjectId('61d70bd4d2283330c7679067')}
{'_id': ObjectId('61d9a9c91d4b8d80cb78f5da'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5db'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dc'), 'GRE Score': '336', 'TOEFL Score': '118'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dd'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5de'), 'GRE Score': '334', 'TOEFL Score': '119'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5df'), 'GRE Score': '337', 'TOEFL Score': '118'}

In [49]:
my_db_query={'GRE Score':'337'}
# printing all the rows where GRE Score is 337
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('61d9a9c91d4b8d80cb78f5da'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5db'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dd'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5df'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [51]:
my_db_query={'GRE Score':{'$gt':'330'}}
# printing all the rows where GRE Score is greaterthan 330
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('61d9a9c91d4b8d80cb78f5da'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5db'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dc'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dd'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5de'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5df'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [52]:
result_GRE= collection.find(my_db_query).sort('GRE Score')
for res in result_GRE:
    print(res)

{'_id': ObjectId('61d9ab001d4b8d80cb78f5de'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dc'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9a9c91d4b8d80cb78f5da'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5db'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dd'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5df'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [53]:

result_GRE= collection.find(my_db_query).sort('GRE Score',-1)
for res in result_GRE:
    print(res)

{'_id': ObjectId('61d9a9c91d4b8d80cb78f5da'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5db'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dd'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5df'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dc'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5de'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [54]:
my_db_query={'GRE Score':'337'}
x=collection.delete_one(my_db_query) # the deletion step
print(x.deleted_count)

1

In [55]:
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('61d9ab001d4b8d80cb78f5db'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5dd'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61d9ab001d4b8d80cb78f5df'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}