In [1]:
import pymongo

In [2]:
dbConn = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
dbConn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [9]:
dbname='demoDB'
db = dbConn[dbname]

In [5]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'demoDB')

In [7]:
print(dbConn.list_database_names())

['admin', 'config', 'crawlerDB', 'local']

In [16]:
dblist=dbConn.list_database_names() # obtaining all the database names
db_name='demoDB'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

This Databse exists

In [11]:
collection_name='mongo_demo'
collection=db[collection_name]

In [15]:
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection exists.

In [13]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [14]:
x = collection.insert_one(my_row)

In [17]:
print(x.inserted_id)

60cf7eb019526b086053669f

In [18]:
# inserting multiple rows once
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]# creating key value pairs for inserting into the DB

In [19]:
x = collection.insert_many(my_rows)

In [20]:
x

In [21]:
print(x.inserted_ids)

[ObjectId('60cf7ee319526b08605366a0'), ObjectId('60cf7ee319526b08605366a1'), ObjectId('60cf7ee319526b08605366a2'), ObjectId('60cf7ee319526b08605366a3'), ObjectId('60cf7ee319526b08605366a4')]

In [22]:
result= collection.find({}) 
result[3]

{'_id': ObjectId('60cf7ee319526b08605366a2'),
 'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [23]:
result_total= collection.find({}).limit(5)
for res in result_total:
    print(res)

{'_id': ObjectId('60cf7eb019526b086053669f'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60cf7ee319526b08605366a0'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60cf7ee319526b08605366a1'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60cf7ee319526b08605366a2'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60cf7ee319526b08605366a3'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [24]:
# retrieveing some columns
result_some= collection.find({}, {'GRE Score','TOEFL Score'}) # retrieveing two columns
# The second parameter in find() specifies which columns to choose
for res in result_some:
    print(res)

{'_id': ObjectId('60cf7eb019526b086053669f'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('60cf7ee319526b08605366a0'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('60cf7ee319526b08605366a1'), 'GRE Score': '336', 'TOEFL Score': '118'}
{'_id': ObjectId('60cf7ee319526b08605366a2'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('60cf7ee319526b08605366a3'), 'GRE Score': '334', 'TOEFL Score': '119'}
{'_id': ObjectId('60cf7ee319526b08605366a4'), 'GRE Score': '337', 'TOEFL Score': '118'}

In [25]:
my_db_query={'GRE Score':'337'}
# printing all the rows where GRE Score is 337
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('60cf7eb019526b086053669f'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60cf7ee319526b08605366a0'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60cf7ee319526b08605366a2'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60cf7ee319526b08605366a4'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [26]:
my_db_query={'GRE Score':{'$gt':'337'}}
# printing all the rows where GRE Score is greaterthan 330
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

In [27]:
res

{'_id': ObjectId('60cf7ee319526b08605366a4'),
 'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [28]:
print(res)

{'_id': ObjectId('60cf7ee319526b08605366a4'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [1]:
import pymongo

In [3]:
 # package which enables us to connect to the MongoDB
dbConn = pymongo.MongoClient("mongodb://localhost:27017/")

In [4]:
dbConn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
dbname='RAHUL'
db = dbConn[dbname]

In [6]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'RAHUL')

In [7]:
print(dbConn.list_database_names())

['RAHUL', 'admin', 'config', 'local', 'newDB', 'pune', 'test', 'wednesdayDB', 'yogeshDB']

In [9]:
dblist=dbConn.list_database_names()

In [10]:
dblist

['RAHUL',
 'admin',
 'config',
 'local',
 'newDB',
 'pune',
 'test',
 'wednesdayDB',
 'yogeshDB']

In [13]:
db_name='pune'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

This Databse exists

In [25]:
dblist=dbConn.list_database_names()
db_name='pune'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

This Databse exists

In [26]:
db_name='pune'
if dblist.index(db_name)==5:
    print('yes')
else:
    print('No')

yes

In [29]:
dblist=dbConn.list_database_names()
db_name='dfdffd'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

ValueError: 'dfdffd' is not in list

In [30]:
collection_name='inventory'
collection=db[collection_name]

In [31]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'RAHUL'), 'inventory')

In [32]:
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection exists.

In [33]:
db.list_collection_names()

['c1', 'inventory']

In [34]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [35]:
my_row

{'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [36]:
x = collection.insert_one(my_row)

In [37]:
x

In [38]:
print(x)

<pymongo.results.InsertOneResult object at 0x00000257F65C8F48>

In [39]:
x.inserted_id

ObjectId('6146ad9d05217cf4fae1bcaa')

In [40]:
x.inserted_id

ObjectId('6146ad9d05217cf4fae1bcaa')

In [41]:
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [42]:
my_rows

[{'Serial No': '9997',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.65',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9996',
  'GRE Score': '336',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.6',
  'Research': '0',
  'Chance of Admit': '0.92'},
 {'Serial No': '9995',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.5',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9994',
  'GRE Score': '334',
  'TOEFL Score': '119',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.4',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9993',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.65',
  'Research': '1',
  'Chance of Admit': '0.92'}]

In [43]:
x = collection.insert_many(my_rows)

In [44]:
x

In [45]:
print(x.inserted_ids)

[ObjectId('6146ae5d05217cf4fae1bcab'), ObjectId('6146ae5d05217cf4fae1bcac'), ObjectId('6146ae5d05217cf4fae1bcad'), ObjectId('6146ae5d05217cf4fae1bcae'), ObjectId('6146ae5d05217cf4fae1bcaf')]

In [46]:
result= collection.find({})

In [47]:
result

In [48]:
for i in result:
    print(i)

{'_id': ObjectId('6146a44f2e412f78a4adfadc'), 'item': 'journal', 'qty': 25.0, 'tags': ['blank', 'red'], 'size': {'h': 14.0, 'w': 21.0, 'uom': 'cm'}}
{'_id': ObjectId('6146a44f2e412f78a4adfadd'), 'item': 'mat', 'qty': 85.0, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('6146a44f2e412f78a4adfade'), 'item': 'mousepad', 'qty': 25.0, 'tags': ['gel', 'blue'], 'size': {'h': 19.0, 'w': 22.85, 'uom': 'cm'}}
{'_id': ObjectId('6146ad9d05217cf4fae1bcaa'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcab'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcac'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcad'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcae'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcaf'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [51]:
result= collection.find({})

In [52]:
result[3]

{'_id': ObjectId('6146ad9d05217cf4fae1bcaa'),
 'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [55]:
result[0]

{'_id': ObjectId('6146a44f2e412f78a4adfadc'),
 'item': 'journal',
 'qty': 25.0,
 'tags': ['blank', 'red'],
 'size': {'h': 14.0, 'w': 21.0, 'uom': 'cm'}}

In [54]:
result[1]

{'_id': ObjectId('6146a44f2e412f78a4adfadd'),
 'item': 'mat',
 'qty': 85.0,
 'tags': ['gray'],
 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}

In [59]:
result_total= collection.find({}).limit(2)

In [60]:
result_total

In [61]:
for res in result_total:
    print(res)

{'_id': ObjectId('6146a44f2e412f78a4adfadc'), 'item': 'journal', 'qty': 25.0, 'tags': ['blank', 'red'], 'size': {'h': 14.0, 'w': 21.0, 'uom': 'cm'}}
{'_id': ObjectId('6146a44f2e412f78a4adfadd'), 'item': 'mat', 'qty': 85.0, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}

In [62]:
# retrieveing some columns
result_some= collection.find({}, {'GRE Score','TOEFL Score'}) # retrieveing two columns
# The second parameter in find() specifies which columns to choose

In [63]:
result_some

In [64]:
for res in result_some:
    print(res)

{'_id': ObjectId('6146a44f2e412f78a4adfadc')}
{'_id': ObjectId('6146a44f2e412f78a4adfadd')}
{'_id': ObjectId('6146a44f2e412f78a4adfade')}
{'_id': ObjectId('6146ad9d05217cf4fae1bcaa'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcab'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcac'), 'GRE Score': '336', 'TOEFL Score': '118'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcad'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcae'), 'GRE Score': '334', 'TOEFL Score': '119'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcaf'), 'GRE Score': '337', 'TOEFL Score': '118'}

In [65]:
# retrieveing some columns
result_some= collection.find({}, {'SOP','TOEFL Score'}) # retrieveing two columns
# The second parameter in find() specifies which columns to choose

In [66]:
for res in result_some:
    print(res)

{'_id': ObjectId('6146a44f2e412f78a4adfadc')}
{'_id': ObjectId('6146a44f2e412f78a4adfadd')}
{'_id': ObjectId('6146a44f2e412f78a4adfade')}
{'_id': ObjectId('6146ad9d05217cf4fae1bcaa'), 'TOEFL Score': '118', 'SOP': '4.5'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcab'), 'TOEFL Score': '118', 'SOP': '4.5'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcac'), 'TOEFL Score': '118', 'SOP': '4.5'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcad'), 'TOEFL Score': '118', 'SOP': '4.5'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcae'), 'TOEFL Score': '119', 'SOP': '4.5'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcaf'), 'TOEFL Score': '118', 'SOP': '4.5'}

In [67]:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}

In [68]:
my_db_query

{'GRE Score': '337'}

In [69]:
# printing all the rows where GRE Score is 337
result_GRE= collection.find(my_db_query)

In [70]:
result_GRE

In [71]:
for res in result_GRE:
    print(res)

{'_id': ObjectId('6146ad9d05217cf4fae1bcaa'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcab'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcad'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcaf'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [82]:
my_db_query={'GRE Score':{'$lt':'337'}}

In [83]:
# printing all the rows where GRE Score is greaterthan 330
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('6146ae5d05217cf4fae1bcac'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcae'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [91]:
my_db_query={'GRE Score':{'$gt':'300'}}
result_GRE= collection.find(my_db_query).sort('GRE Score',-1)

In [92]:
for res in result_GRE:
    print(res)

{'_id': ObjectId('6146ad9d05217cf4fae1bcaa'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcab'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcad'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcaf'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcac'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6146ae5d05217cf4fae1bcae'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [93]:
# Deleting records from mongo DB:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
x=collection.delete_one(my_db_query) # the deletion step
print(x.deleted_count)

1

In [94]:
collection_to_drop=db['test_collection'] # drops the entire collection named 'test collection'
collection_to_drop.drop()

In [96]:
update_criteria={'GRE Score':'337'}
new_values= { "$set": { "GRE Score": "350" } }

x = collection.update_many(update_criteria, new_values)

print(x.modified_count)

3