In [1]:
import pymongo

In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\user\anaconda3\lib\site-packages (3.9.0)

In [3]:
dbConn = pymongo.MongoClient("mongodb://localhost:27017/")

In [5]:
dbConn.list_database_names()

['admin', 'config', 'local', 'newDB', 'wednesdayDB', 'yogeshDB']

In [12]:
dbname='newDB'
db = dbConn[dbname]

In [13]:
dbConn.list_database_names()

['admin', 'config', 'local', 'newDB', 'wednesdayDB', 'yogeshDB']

In [14]:
dblist=dbConn.list_database_names() # obtaining all the database names
db_name='newDB'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

This Databse exists

In [15]:
collection_name='hello1'
collection=db[collection_name]

In [16]:
db.list_collection_names()

['hello1']

In [17]:
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection exists.

In [18]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [19]:
my_row

{'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [20]:
type(my_row)

dict

In [22]:
x = collection.insert_one(my_row)

In [23]:
x

In [24]:
print(x.inserted_id)

60dc8a35e564d67b6534f764

In [25]:
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [26]:
my_rows

[{'Serial No': '9997',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.65',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9996',
  'GRE Score': '336',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.6',
  'Research': '0',
  'Chance of Admit': '0.92'},
 {'Serial No': '9995',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.5',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9994',
  'GRE Score': '334',
  'TOEFL Score': '119',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.4',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '9993',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.65',
  'Research': '1',
  'Chance of Admit': '0.92'}]

In [27]:
x = collection.insert_many(my_rows)

In [28]:
print(x.inserted_ids)

[ObjectId('60dc8b33e564d67b6534f765'), ObjectId('60dc8b33e564d67b6534f766'), ObjectId('60dc8b33e564d67b6534f767'), ObjectId('60dc8b33e564d67b6534f768'), ObjectId('60dc8b33e564d67b6534f769')]

In [29]:
result= collection.find({})

In [30]:
result

In [31]:
print(result)

<pymongo.cursor.Cursor object at 0x000001C19A5F19B0>

In [32]:
result[3]

{'_id': ObjectId('60dc8b33e564d67b6534f765'),
 'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [33]:
type(result)

pymongo.cursor.Cursor

In [34]:
result_total= collection.find({}).limit(5)

In [35]:
result_total

In [36]:
for res in result_total:
    print(res)

{'_id': ObjectId('60dc84bf391a5205c609a1f9'), 'team': 'india', 'runs': [100.0, 200.0]}
{'_id': ObjectId('60dc85817a647a0f5b245345'), 'name': 'yogesh', 'roll_no': 22}
{'_id': ObjectId('60dc8a35e564d67b6534f764'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f765'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f766'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}

In [37]:
result_some= collection.find({}, {'GRE Score','TOEFL Score'}) # retrieveing two columns
# The second parameter in find() specifies which columns to choose
for res in result_some:
    print(res)

{'_id': ObjectId('60dc84bf391a5205c609a1f9')}
{'_id': ObjectId('60dc85817a647a0f5b245345')}
{'_id': ObjectId('60dc8a35e564d67b6534f764'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('60dc8b33e564d67b6534f765'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('60dc8b33e564d67b6534f766'), 'GRE Score': '336', 'TOEFL Score': '118'}
{'_id': ObjectId('60dc8b33e564d67b6534f767'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('60dc8b33e564d67b6534f768'), 'GRE Score': '334', 'TOEFL Score': '119'}
{'_id': ObjectId('60dc8b33e564d67b6534f769'), 'GRE Score': '337', 'TOEFL Score': '118'}

In [38]:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
# printing all the rows where GRE Score is 337
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('60dc8a35e564d67b6534f764'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f765'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f767'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f769'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [40]:
my_db_query={'GRE Score':{'$gt':'330'}}
# printing all the rows where GRE Score is greaterthan 330
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('60dc8a35e564d67b6534f764'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f765'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f766'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f767'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f768'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('60dc8b33e564d67b6534f769'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}