In [1]:
pwd

'C:\\Users\\HP\\Python.Tableu Traning\\ML SQL Tableau Notes'

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.0.28)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
Installing collected packages: protobuf
Successfully installed protobuf-3.20.1

In [3]:
import mysql.connector as connection

In [6]:
mydb=connection.connect(host="localhost",user="root",passwd="Rajan@123",use_pure=True)

In [7]:
mydb

In [8]:
cursor=mydb.cursor()

In [9]:
cursor

In [10]:
cursor.execute("show databases")

In [11]:
print(cursor.fetchall())

[('batch_ml',), ('batch_rb',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [12]:
mydb.is_connected()

True

In [13]:
cursor.execute("create database sample1")

In [14]:
mydb=connection.connect(host="localhost",database="batch_rb",user="root",passwd="Rajan@123",use_pure=True)

In [15]:
cursor=mydb.cursor()

In [16]:
cursor.execute("show tables")

In [17]:
print(cursor.fetchall())

[('bonus',), ('dept',), ('emp2',), ('emp_cp',), ('salgrade',)]

In [19]:
cursor.execute("select * from emp_cp")

In [20]:
print(cursor.fetchall())

[(7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 1800, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 2600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 2250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 3975, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 22), 2250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 3850, None, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 3450, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 9, 23), 4000, None, 20), (7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 19), 6000, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 2500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.date(1987, 8, 24), 2100, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 1950, None, 30), (7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 2300, None, 10), (101, 'rahul', 'ANALYST', 100, datetime.date(1988, 11, 12), 4400, 200, 30)]

In [21]:
mydb=connection.connect(host="localhost",database="batch_rb",user="root",passwd="Rajan@123",use_pure=True)

In [22]:
mydb.is_connected()

True

In [23]:
cursor=mydb.cursor()

In [24]:
cursor.execute("CREATE TABLE STUDENT(Student_ID int(8),first_name varchar(10),last_name varchar(10),\
               admission_date DATE,class varchar(5),section varchar(5))")

In [25]:
cursor.execute("show tables")

In [26]:
print(cursor.fetchall())

[('bonus',), ('dept',), ('emp2',), ('emp_cp',), ('salgrade',), ('student',)]

In [27]:
cursor.execute("desc student")

In [28]:
print(cursor.fetchall())

[('Student_ID', b'int', 'YES', '', None, ''), ('first_name', b'varchar(10)', 'YES', '', None, ''), ('last_name', b'varchar(10)', 'YES', '', None, ''), ('admission_date', b'date', 'YES', '', None, ''), ('class', b'varchar(5)', 'YES', '', None, ''), ('section', b'varchar(5)', 'YES', '', None, '')]

In [29]:
cursor.execute("insert into student values(101,'rahul','dravid','2022-05-09','Tenth','B')")

In [30]:
mydb.commit()

In [31]:
cursor.execute("insert into student values(102,'rohit','dravid','2022-05-09','11th','C')")
cursor.execute("insert into student values(103,'ram','dravid','2022-05-09','12th','A')")
cursor.execute("insert into student values(104,'Laxman','dravid','2022-05-09','8h','D')")
cursor.execute("insert into student values(105,'rahim','dravid','2022-05-09','7h','F')")
cursor.execute("insert into student values(106,'sachin','dravid','2022-05-09','Tenth','B')")

In [32]:
cursor.execute("select * from student")

In [33]:
print(cursor.fetchall())

[(101, 'rahul', 'dravid', datetime.date(2022, 5, 9), 'Tenth', 'B'), (102, 'rohit', 'dravid', datetime.date(2022, 5, 9), '11th', 'C'), (103, 'ram', 'dravid', datetime.date(2022, 5, 9), '12th', 'A'), (104, 'Laxman', 'dravid', datetime.date(2022, 5, 9), '8h', 'D'), (105, 'rahim', 'dravid', datetime.date(2022, 5, 9), '7h', 'F'), (106, 'sachin', 'dravid', datetime.date(2022, 5, 9), 'Tenth', 'B')]