Class: high level classification of real world entity/Skeleton of real world entity
e.g. Car: Audi, Mercedize, TATA, Bentle
Peoperties: Engine, Tyre, Interior, HP are all the properties

Object: it is the variable

### Object oriented Concept

In [5]:
i=20

In [6]:
i

20

In [7]:
type(i)

int

In [8]:
s="sachin"
l=[]
d={}
t=()

In [9]:
type(s)

str

In [10]:
type(l)

list

In [11]:
type(d)

dict

In [12]:
type(t)

tuple

In [13]:
d.keys()

dict_keys([])

In [14]:
class test:

IndentationError: expected an indented block (Temp/ipykernel_884/1236307212.py, line 2)

In [15]:
class test:
    pass

In [16]:
def my_fun():
    pass

In [17]:
class person:
    pass

In [18]:
p=person()

In [19]:
p

In [20]:
type(p)

__main__.person

In [21]:
p.name="Rajan"

In [22]:
p.surname="Bisen"

In [23]:
p.yob=1993

In [24]:
a=person()

In [25]:
a.name="Mansi"

In [26]:
a.surname="Ambule"

In [27]:
a.yob=1997

In [28]:
p.name

'Rajan'

In [29]:
p.surname

'Bisen'

In [30]:
p.yob

1993

In [31]:
a.name

'Mansi'

In [32]:
a.surname

'Ambule'

In [33]:
a.yob

1997

In [34]:
type(p.name)

str

In [35]:
type(p.yob)

int

Now start

In [36]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob

__init__ is  the method name
init means initialization
self is the variable/it is not a keyword (referance kind of word)

In [224]:
p=person()

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'yob'

In [38]:
p=person("Mansi","Ambule",1997)

In [39]:
p

In [40]:
print(p)

<__main__.person object at 0x0000028FFB98CF70>

In [41]:
s=person("rajan","bisen",1993)

In [42]:
s.name

'rajan'

In [43]:
p.name

'Mansi'

In [221]:
class person:
    def __init__(self,name,surname,yob):
        self.name1=name
        self.surname1=surname
        self.yob1=yob

In [222]:
p=person("manu","bisen",1997)

In [223]:
p.name

AttributeError: 'person' object has no attribute 'name'

In [47]:
p.name1

'manu'

In [48]:
p.surname1

'bisen'

In [49]:
p.yob1

1997

In [217]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,n,m):
        return n+m+yob

In [218]:
p=person("rajan","bisen",1993)

In [220]:
p.test(24,25,26)

TypeError: test() takes 3 positional arguments but 4 were given

In [53]:
p.name

'rajan'

In [54]:
p.yob

1993

In [55]:
p.surname

'bisen'

In [56]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,n,m):
        return n+m+self.yob

In [57]:
p=person("rajan","bisen",1993)

In [58]:
p.test(24,25)

2042

In [59]:
s=person("abc","xyz",12)

In [60]:
s.test(9,6)

27

In [61]:
p

In [62]:
type(p)

__main__.person

In [63]:
print(p)

<__main__.person object at 0x0000028FFB98C610>

In [64]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,n,m):
        return n+m+yob
    def __str__(self):
        return 1

In [215]:
p=person("y","m",45)

In [216]:
print(p)

y is my first name and my surname is m and yob is 45

In [67]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,n,m):
        return n+m+yob
    def __str__(self):
        return "We are learning object oreinted programming concept with python"

In [68]:
p=person("y","m",45)

In [69]:
print(p)

We are learning object oreinted programming concept with python

In [70]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,n,m):
        return n+m+yob
    def __str__(self):
        return "%s is my first name and my surname is %s and yob is %d"%(self.name,self.surname,
                                                                        self.yob)

In [71]:
p=person("rajan","bisen",1993)

In [72]:
print(p)

rajan is my first name and my surname is bisen and yob is 1993

In [73]:
class test:
    pass

In [74]:
p=test()

In [75]:
p.name="rajan"

In [76]:
p.surname="bisen"

In [77]:
p.yob=1993

In [78]:
p.name

'rajan'

In [79]:
s=test()

In [80]:
s.name="mansi"

In [81]:
s.surname="ambule"

In [82]:
s.yog=1997

In [83]:
s.name

'mansi'

In [84]:
class person:
    def pass_name(self,name):
        self.name=name
    def pass_surname(self,surname):
        self.surname=surname
    def pass_yob(self,yob):
        self.yob=yob

In [85]:
p=person()

In [86]:
p.name

AttributeError: 'person' object has no attribute 'name'

In [87]:
p.pass_name("rajan")

In [88]:
p.pass_surname("bisen")

In [89]:
p.pass_yob("1993")

In [90]:
p.name

'rajan'

### Abstraction

Abstraction is about hiding like Public/Protected/Private

In [213]:
class person:
    def __init__(self,name,surname,yob):
        self.__name=name
        self.__surname=surname
        self.__yob=yob
    def test(self,n,m):
        return n+m+self.__yob
    def __str__(self):
        return "%s is my first name and my surname is %s and yob is %d"%(self.__name,self.__surname,
                                                                         self.__yob)

In [214]:
p=person("rajan","bisen",1993)

In [210]:
p=person("raj","bsn",93)

In [94]:
p.name

'rajan'

In [209]:
p._name

'raj'

In [96]:
p.__dict__

{'name': 'rajan', 'surname': 'bisen', 'yob': '1993'}

In [207]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,n,m):
        return n+m+self.yob
    def __str__(self):
        return "%s is my first name and my surname is %s and yob is %d"%(self.name,self.surname,
                                                                         self.yob)

In [208]:
s=person("abc","xyz",123)

In [200]:
class person:
    def __init__(self,name,surname,yob):
        self._name=name
        self._surname=surname
        self._yob=yob
    def test(self,n,m):
        return n+m+self._yob
    def __str__(self):
        return "%s is my First name and my surname is %s and yob is %d"%(self._name,self._surname,
                                                                         self._yob)

In [201]:
p=person("raj","bsn",93)

In [204]:
p.person_name

AttributeError: 'person' object has no attribute 'person_name'

### Inheritance

In [195]:
class person:
    def __init__(self,name,surname,yob):
        self._name=name
        self._surname=surname
        self._yob=yob
    def test(self,n,m):
        return n+m+self._yob
    def __str__(self):
        return "%s is my First name and my surname is %s and yob is %d"%(self.name,self.surname,
                                                                         self.yob)

In [196]:
class student(person):
    def __init__(self,roll_no,college_name,*args):
        super(student,self).__init__(*args)
        self.roll_no=roll_no
        self.college_name=college_name

In [197]:
stud=student(342,"ABC")

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'yob'

In [198]:
stud=student(45,"ABC","yogesh","murumkar",8989)

In [199]:
stud.college_name

'ABC'

In [116]:
class a:
    def test(self):
        print("My name is Rajan")

In [117]:
class b:
    def test(self):
        print("My surname is Bisen")

In [118]:
class c(a,b):
    obja=a()
    objb=b()
    obja.test()
    objb.test()

My name is Rajan
My surname is Bisen

In [119]:
objc=c()

In [120]:
objc.test()

My name is Rajan

In [121]:
class c(b,a):
    obja=a()
    objb=b()
    obja.test()
    objb.test()

My name is Rajan
My surname is Bisen

In [122]:
objc=c()

In [123]:
objc.test()

My surname is Bisen

### Method Overriding

In [124]:
class person:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def __str__(self):
        return "My name is Rajan"
    
    # def __str__(self):
    #     return "My name is Rajan"

In [127]:
p=person(3,6,8)

In [128]:
print(p)

My name is Rajan

In [129]:
class person:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def __str__(self):
        return "My name is Rajan"

In [130]:
p=person(4,5,6)

In [131]:
print(p)

My name is Rajan

In [133]:
class student(person):
    def __init__(self,student_id,*args):
        super(student,self).__init__(*args)
        self.student_id=student_id

In [135]:
s=student(4,5,6,9)

In [136]:
s

In [137]:
print(s)

My name is Rajan

In [138]:
class student(person):
    def __init__(self,student_id,*args):
        super(student,self).__init__(*args)
        self.student_id=student_id
    def __str__(self):
        return super(student,self).__str__()+"I am an Employee"

In [139]:
print(s)

My name is Rajan

In [140]:
s=student(4,5,6,7)

In [141]:
s

In [142]:
print(s)

My name is RajanI am an Employee

In [143]:
p=person(4,5,6)

In [144]:
print(p)

My name is Rajan

In [148]:
class maths:
    def add(self,a,b,c):
        print(a+b)
    def add(self,a,b,c):
        print(a+b+c)

In [149]:
s=maths()

In [150]:
s.add(8,9,12)

29

In [151]:
s.add(8,9)

TypeError: add() missing 1 required positional argument: 'c'

In [152]:
class maths:
    def add(self,*args):
        sum=0
        for a in args:
            sum=sum+a
        print(sum)

In [153]:
s=maths

In [155]:
s.add(8,9,12)

21

In [156]:
s.add(8,9)

9

### Encapsulation

In [172]:
class tyre:
    def __init__(self,branch,baise,opt_pre):
        self.branch=branch
        self.baise=baise
        self.opt_pre=opt_pre
    def __str__(self):
        return str(self.branch) + str(self.baise) + str(self.opt_pre)

In [173]:
t=tyre("xyz",56,33)

In [177]:
t

In [176]:
print(t)

xyz5633

In [174]:
class engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
    def __str__(self):
        return str(self.noise_level)+str(self.fuel_type)

In [175]:
e=engine("petrol",56)

In [178]:
e

In [179]:
print(e)

56petrol

In [182]:
class body:
    def __init__(self,body_size):
        self.body_size=body_size
    def __str__(self):
        return "this is my def of engine class" + " " + str(self.body_size)

In [183]:
b=body("small")

In [184]:
b

In [185]:
print(b)

this is my def of engine class small

In [186]:
class car:
    def __init__(self,ti,ei,bi):
        self.ti=ti
        self.ei=ei
        self.bi=bi
    def __str__(self):
        return str(self.ti) + " " + str(self.ei) + " " + str(self.bi)

In [187]:
c=car("abc","pqr","xyz")

In [188]:
print(c)

abc pqr xyz

In [228]:
c=car(t,e,b)

In [229]:
c

In [230]:
print(c)

xyz5633 56petrol this is my def of engine class small

In [225]:
import pandas as pd

In [226]:
range(10)

range(0, 10)

In [231]:
c=car(t,e,"this is my def of Engine class")

In [232]:
print(c)

xyz5633 56petrol this is my def of Engine class

In [233]:
### Polymorphism

In [234]:
def add_x(a,b):
    return a+b

In [235]:
add_x("abc","xyz")

'abcxyz'

In [236]:
add_x(3,7)

10

In [237]:
add_x([3,5,6,6],[5,5,7,7])

[3, 5, 6, 6, 5, 5, 7, 7]

In [241]:
%%writefile friday.text
my name is Rajan
i am an Indian

Overwriting friday.text

In [239]:
pwd

'C:\\Users\\HP\\Python.Tableu Traning\\ML SQL Tableau Notes'

In [242]:
from io import StringIO

In [243]:
s=input()

hello

In [244]:
s

'hello'

In [245]:
type(s)

str

In [246]:
s1=StringIO(s)

In [247]:
type(s1)

_io.StringIO

In [248]:
s1.read()

'hello'

In [251]:
s=input("Entre the value:")

Entre the value:We are learning Python

In [252]:
type(s)

str

In [253]:
s1=StringIO(s)

In [254]:
s1.read()

'We are learning Python'